@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@1,400..900&display=swap');
h1{
    text-align: center;
    color: #ffffff;
     font-family: 'Playfair Display', serif;
    font-style: italic;
}
p{
    text-align: center;
    color: #ffffff;
     font-family: 'Playfair Display', serif;
    font-style: italic;
}
body{
    background-image: url('img/fundo.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 30px;
}
.container div{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    transition: transform 0.3s;}
.container div img{
    width: 250px;
    height: auto;
}
.container div:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
footer{
    text-align: center;
    color: #ffffff;
     font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-top: 200px;
    margin-bottom: 200px;
}

